#winModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal")
          %span(aria-hidden="true")
          %span.sr-only Close
        %h4.modal-title You won!
      .modal-body
        %p You are a battleship baller!
      .modal-footer
        %a.btn.btn-default(type="button" data-dismiss="modal" href="/about")About The Makers
        %a.btn.btn-primary(type="button" href="/")Exit Game
.row
  .col-md-2
  .col-md-5
    .panel.panel-default
      .panel-heading Opponent's Board
    %table.table
      - session[:player].board.size.times do |x|
        %tr
        - session[:player].board.size.times do |y|
          - cell = cell_class(x, y)
          %td{ :class => cell }
            %div
              - if cell == "blank"
                %a{ :href => "http://#{request.host}:#{request.port}/game?x=#{x}&y=#{y}" } &nbsp &nbsp
              - else
                &nbsp &nbsp
  .col-md-4
    #side_bar
      %h1 Game Stats
      %p= "Misses: #{session[:player].board.count_misses}"
      %p= "Hits: #{session[:player].board.count_hits}"
      %p= "Ships Sunk: #{session[:player].board.count_sunk}"
      %p= "Ships Remaining: #{session[:player].board.count_remaining}"
  .col-md-1
.row
  .col-md-12
    - if result == "hit"
      .alert.alert-success.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Hit!
        You hit like a heavyweight champ!
    - elsif result == "sunk"
      .alert.alert-success.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Sunk!
        Did you just buy a kitchen sink, cuz you just sunk that fool!
    - elsif result == "miss"
      .alert.alert-danger.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Miss!
        Try playing again!
- if session[:player].board.game_won?
  :javascript
      $(document).ready( function() {
        $('#winModal').modal();
      } );