- if game.player.board.count_remaining == 0
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal")
            %span(aria-hidden="true")&times;
            %span.sr-only Close
          %h4.modal-title Modal title
        .modal-body
          %p One fine body&hellip;
        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          %button.btn.btn-primary(type="button") Save changes
.row
  .col-md-2
  .col-md-5
    .panel.panel-default
      .panel-heading Computer's Board
    %table.table
      - game.player.board.size.times do |x|
        %tr
        - game.player.board.size.times do |y|
          - cell = cell_class(x, y)
          %td{ :class => cell }
            %div
              - if cell == "blank"
                %a{ :href => "http://#{request.host}:#{request.port}/?playing=true&x=#{x}&y=#{y}" }
                  &nbsp &nbsp
                  -#%i.fa.fa-question
              - else
                &nbsp &nbsp
  .col-md-4
    #side_bar
      %h1 Game Stats
      %p= "Misses: #{game.player.board.count_misses}"
      %p= "Hits: #{game.player.board.count_hits}"
      %p= "Ships Sunk: #{game.player.board.count_sunk}"
      %p= "Ships Remaining: #{game.player.board.count_remaining}"
  .col-md-1
.row
  .col-md-12
    - if result == "hit"
      .alert.alert-success.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Hit!
        You hit like a heavyweight champ!
    - elsif result == "sunk"
      .alert.alert-success.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Sunk!
        Did you just buy a kitchen sink, cuz you just sunk that fool!
    - elsif result == "miss"
      .alert.alert-danger.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Miss!
        Try playing again!