.row
  .col-md-2
  .col-md-5
    .panel.panel-default
      .panel-heading Setup Your Board
    .panel-body= "Please set the #{session[:player].board.ships_not_set[0].to_s}. This ship has a length of #{$SHIP_SIZES[session[:player].board.ships_not_set[0]]}. Ships will be be placed vertically or horizontally using the topmost or leftmost position."
    %table.table
      - session[:player].board.size.times do |x|
        %tr
        - session[:player].board.size.times do |y|
        - cell = "active" if already_placed?(x, y)
          %td{ :class => cell }
            %div
              - if cell == "active"
                &nbsp &nbsp
              - else
                %a{ :href => "http://#{request.host}:#{request.port}/setup?x=#{x}&y=#{y}" } &nbsp &nbsp
  .col-md-3
    .btn-group(data-toggle = "buttons")
      %label.btn.btn-primary.active(data-direction="horizontal")
        %input#option1(type="radio" name="options")Horizontal
      %label.btn.btn-primary(data-direction="vertical")
        %input#option2(type="radio" name="options")Vertical
    .btn#submit Submit
  .col-md-2
%script(src="/js/setup.js")