.row
  .col-md-2
  .col-md-5
    .panel.panel-default
      .panel-heading Setup Your Board
    .panel-body= "Please set the #{session[:player].board.ships_not_set[0].to_s}. This ship has a length of #{$SHIP_SIZES[session[:player].board.ships_not_set[0]]}. Ships will be be placed vertically or horizontally using the topmost or leftmost position."
    %table.table
      - session[:player].board.size.times do |x|
        %tr
        - session[:player].board.size.times do |y|
        - cell = "active" if already_placed?(x, y)
          %td.cell{ :"data-x" => "#{x}", :"data-y" => "#{y}", :class => cell}
            %div &nbsp &nbsp
  .col-md-3
    .btn-group(data-toggle = "buttons")
      %label.btn.btn-primary.active(data-direction="horizontal")
        %input#option1(type="radio" name="options")Horizontal
      %label.btn.btn-primary(data-direction="vertical")
        %input#option2(type="radio" name="options")Vertical
    .btn#submit Submit
  .col-md-2
.row
  .col-md-12
    - if result == "set"
      .alert.alert-success.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Ship set!
        You successfully set a ship!
    - elsif result == "not_set"
      .alert.alert-danger.alert-dismissible(role="alert")
        %button.close(type="button" data-dismiss="alert")
          %span(aria-hidden="true")
          %span.sr-only Close
        %strong Invalid Position!
        You can't set your ship there. Please try again!
%script(src="/js/setup.js")